@media screen and (min-width: 1600px) {
  html {
    font-size: 73%;
  }
}

@media screen and (min-width: 1600px) and (min-height: 900px) {
  html {
    font-size: 80%;
  }
}

@media screen and (min-width: 1600px) and (min-height: 1200px) {
  html {
    font-size: 116%;
  }

  .main-left {
    width: 27rem;
  }

  .main-right {
    left: 27rem;
  }
  .hero-right,
  .hero-left {
    flex-basis: 100%;
    height: auto;
    margin-bottom: 5rem;
  }

  .question-section .contact-address .icon-section {
    flex-basis: 50%;
    text-align: center;
  }

  .project-comman,
  .skill-comman {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .any-question .message-box .same-inpute {
    width: 48.5%;
  }
}

@media screen and (min-width: 2100px) and (max-height: 899px) {
  html {
    font-size: 88%;
  }
}

@media screen and (min-width: 2300px) and (min-height: 900px) and (max-height: 1199px) {
  html {
    font-size: 93%;
  }
}

@media screen and (min-width: 2800px) {
  html {
    font-size: 119%;
  }

  .main-left {
    width: 30rem;
  }

  .main-right {
    left: 30rem;
  }

  .project-comman,
  .skill-comman {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}

@media screen and (max-width: 1400px) and (max-height: 1199px) {
  html {
    font-size: 95%;
  }

  .main-left {
    gap: 2rem;
  }
  .hero-right,
  .hero-left {
    flex-basis: 100%;
    height: auto;
    margin-bottom: 5rem;
  }

  .project-comman,
  .skill-comman {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .question-section .contact-address .icon-section {
    flex-basis: 100%;
    text-align: center;
  }
  .about-me-div {
    display: initial;
  }
  .about-me-div .comman {
    margin-left: 0;
  }

  .any-question .message-box .same-inpute {
    width: 100%;
  }
}

@media screen and (max-width: 1400px) and (min-height: 1200px) {
  html {
    font-size: 110%;
  }

  .main-left {
    gap: 5rem;
  }
  .hero-right,
  .hero-left {
    flex-basis: 100%;
    height: auto;
    margin-bottom: 5rem;
  }

  .project-comman,
  .skill-comman {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }

  .any-question .message-box .same-inpute {
    width: 100%;
  }

  .question-section .contact-address .icon-section {
    flex-basis: 100%;
    text-align: center;
  }

  .about-me-div {
    display: initial;
  }
  .about-me-div .comman {
    margin-left: 0;
  }
}

@media screen and (max-width: 1300px) and (max-height: 899px) {
  html {
    font-size: 70%;
  }
}

@media screen and (max-width: 1300px) and (min-height: 1200px) {
  .main-left {
    width: 27rem;
  }

  .main-right {
    left: 27rem;
  }

  .hero-right .bg-image {
    width: 100%;
    height: 100%;
  }
  .hero-right img {
    width: 100%;
  }
}

@media screen and (max-width: 1100px) {
  .main-left {
    position: absolute;
    z-index: 100;
    transform: translateX(-100%);
  }
  .main-right {
    left: 0;
  }
  .toggle-btn,.toggle-btn-1 {
    display: flex;
  }
}

@media screen and (max-width: 1100px) and (max-height: 899px) {
  html {
    font-size: 82%;
  }
}

@media screen and (max-width: 780px) and (min-height: 900px) {
  .project-comman,
  .skill-comman {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
}
@media screen and (max-width: 650px) {
  .main-right section {
    padding: 0.7rem;
  }

  .main-left {
    width: 80%;
  }
}

@media screen and (max-width: 500px) {

  .main-left {
    width: 100%;
  }
   .hero-right{
    margin-top: 2rem;
   }
  .hero-right .bg-image {
    width: 100%;
    height: 100%;
  }
  .hero-right img {
    width: 100%;
  }


  .education-section .education-div1 {
    margin: 0;
    position: relative;
    padding-left: 3rem;
    margin-block: 5rem;
}
  .education-section::before {
   
    left: 1rem;
    top: 5rem;
  }
  .education-section .education-div1::after {
 
    left: 0.35rem;
    top:0;
    height: 1.5rem;
   
}

@media screen and (max-width: 500px) and (max-height:899px){
  html{
    font-size: 63%;
  }

  .project-comman,
  .skill-comman {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
  .toggle-btn,.toggle-btn-1{
    width: 3.8rem;
    height: 3.6rem;
    border: .3rem solid var(--head-color);

    font-size: 3rem;
 
  }
  
}

@media screen and (max-width: 500px) and (min-height:900px){
  .hero-left h1{
    font-size: 4.7rem;
    line-height: 6rem;
  }
  .main-right section{
    padding-top: 6rem;
  }
  
  .toggle-btn,.toggle-btn-1{
    width: 3.8rem;
    height: 3.6rem;
    border: .3rem solid var(--head-color);

    font-size: 3rem;
 
  }
  
.hero-left .hero-btns .hero-btn1{
  margin-bottom: 1rem;
}
  
.media-section a{
  margin-bottom: 1rem;
}

.project-box{
  height: 22rem;
}

.color-changer{
  padding: 0.5rem;
}
}
@media screen and (max-width: 375px) and (min-height:900px){
  html{
    font-size: 78%;
  }
}

@media screen and (max-width: 280px) {
  html{
    font-size: 62%;
  }
}

@media screen and (max-width: 280px) and (max-height:700px){
  html{
    font-size: 50%;
  }
}

@media screen and (max-width: 200px) {
  html{
    font-size: 40%;
  }
  *{
    word-wrap: break-word;
    word-break: break-all;
  }
}

@media screen and (max-width: 175px) {
  html{
    font-size: 25%;
  }
}
}