.main-color-text {
  color: var(--main-color);
}

.section-heading {
  display: inline-block;
  font-size: 4rem;
  color: var(--head-color);
  text-transform: capitalize;
  position: relative;
  background-color: none;
}

.section-heading::before {
  content: "";
  width: 5rem;
  height: 0.5rem;
  top: 100%;
  left: 0;
  background-color: var(--main-color);
  position: absolute;
  border-radius: 4px;
  animation: move 1s linear 0.5s infinite alternate;
}

@keyframes move {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.section-heading::after {
  content: "";
  width: 5rem;
  height: 0.5rem;
  top: 115%;
  left: 0;
  background-color: var(--main-color);
  position: absolute;
  border-radius: 4px;
  animation: move 1.3s linear 0.4s infinite alternate;
}
